.main{
    text-align: center;
}

.main h1{
    font-size: 40px;
    font-weight: 600;
}
.main p{
    margin-top: -10px;
    margin-bottom: 50px;
}

.image__text__grid__style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 40px;
    padding-bottom: 60px;
}
.firsttext h1{
    font-size:40px;
    font-weight: 600;
}
.margin_top{
    margin-top:100px;
    margin-bottom:150px;
}
.margin_top1{
    margin-bottom:150px;
}


@media screen and (max-width: 769px) {
    .image__text__grid__style{
        grid-template-columns: 1fr;
        margin-top:20px;
        padding-bottom: 10px;
    }
    .firsttext h1{
        font-size:22px;
        font-weight:500;
    }
    .firsttext h5{
        font-size:18px;
        /* text-align: justify; */
    }
    .title h1{
        font-size:22px;
        font-weight:500;
    }
    .title h5{
        font-size:20px;
    }
    .margin_top{
        margin-top:0px;
        margin-bottom:20px;
    }
    .margin_top1{
        margin-bottom: 10px;
        margin-top:10px
        
    }
    
}
@media screen and (max-width: 426px) {
    .image__text__grid__style{
        grid-template-columns: 1fr;
        margin-top:20px;
        padding-bottom: 10px;
    }
    .firsttext h1{
        font-size:18px;
        font-weight:500;
    }
    .firsttext h5{
        font-size:14px;
        /* text-align: justify; */
    }
    .title h1{
        font-size:18px;
        font-weight:500;
    }
    .title h5{
        font-size:14px;
    }
    .margin_top{
        margin-top:0px;
        margin-bottom:20px;
    }
    .margin_top1{
        margin-bottom: 10px;
        margin-top:10px
    }
    
}
@media screen and (max-width: 376px) {
    .image__text__grid__style{
        grid-template-columns: 1fr;
        margin-top:20px;
        padding-bottom: 10px;
    }
    .firsttext h1{
        font-size:18px;
        font-weight:500;
    }
    .firsttext h5{
        font-size:14px;
        /* text-align: justify; */
    }
    .margin_top{
        margin-top:0px;
        margin-bottom:20px;
    }
    .margin_top1{
        margin-bottom: 10px;
        margin-top:10px
    }
}

@media screen and (max-width: 321px) {
    .image__text__grid__style{
        grid-template-columns: 1fr;
        margin-top:20px;
        padding-bottom: 10px;
    }
    .firsttext h1{
        font-size:16px;
        font-weight:500;
    }
    .firsttext h5{
        font-size:13px;
        /* text-align: justify; */
    }
    .margin_top{
        margin-top:0px;
        margin-bottom:20px;
    }
    .margin_top1{
        margin-bottom: 10px;
        margin-top:10px
        
    }
}