.privacy__policy__style{
    margin-bottom: 30px;
}

.privacy__policy__style h1{
    text-align: center;
    margin-top: 40px;
}

.privacy__policy__style h5{
    font-size: 16px;
    font-weight: 400;
    text-align:justify;
}